html{
    font-size: 18px;
    line-height: 1.50;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

/*--The Header--*/
.container{
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffb703;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    background-color: #ffb703;
    /*border: 1px solid red;*/
    position: -webkit-sticky;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: min(1200px, 100%);
    margin: 0 auto;
}

.logo{
    color: #000;
    font-weight: 700;
}

.container__menu{
    opacity: 0;
    visibility: hidden;
}

.container__menu.visible{
    opacity: 1;
    visibility: visible;
}

.menu{
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    background-color: #3cc6e9;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
.btn__cerrar{
    font-size: 30px;
    color: red;
    width: 50%;
    padding: 5px;
}
.menu-link{
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: .5s;
    border-radius: 10px;
    font-weight: bold;
}
.menu-link:hover{
    transition: .5s;
    background-color: #fb8500;
}
.btn__sandwich{
    background-color: #8ecae6;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #219ebc;
}

/*boton de ver mas en las cards*/
.btn-mas{
    width: 100%;
    padding: 15px 30px;
    border-radius: 4px;
    border: none;
    background-color: #0425fae2;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    transition: all .5s ease;
}
.btn-mas:hover{
    background-color: #2234a9;
    transition: all .5s ease;
}


/*Main index*/
.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
    padding: 10px 20px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.section__title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #219ebc;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.img{
    width: 80%;
}
.portada{
    text-align: center;
}

/*Main services*/
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.title__card{
    color: #fb8500;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: -2px -2px rgb(175, 203, 175);

}

.card__img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.img__card{
    width: 70%;
}

.img__dev{
    width: 80%;
}



/*Main proyects*/
.card__proyect{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px, 1px, 10px rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #8ecae6;
}

.card__proyect:hover{
    position: relative;
    transform: translateY(-3%);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    
}

.img__proyect{
    width: 50%;
}


/*main contacto*/
.formulario{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-formulario{
    font-size: 20px;
}

.labels{
    font-size: 22px;
    color: #1B2982;
    font-weight: bold;
}

.entrada{
    padding: 10px;
    width: 95%;
    border: none;
    box-shadow: 0px 0px 5px green;
    border-radius: 5px;
    font-size: 18px;
}

.btn-enviar{
    margin-top: 20px;
    padding: 15px 10px;
    background-color: #0B402E;
    border-radius: 15px;
    border:none;
    font-weight: bold;
    cursor: pointer;
}

.btn-enviar:hover{
    background-color: #8ecae6;
}


/*Responsive Design*/
@media (min-width: 768px) {
    .container__menu{
        opacity: 1;
        visibility: visible;
    }
    .menu{
        opacity: 1;
        visibility: inherit;
    }
    .menu{
    position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;
      list-style: none;
      background-color: #ffb703;
      box-shadow: none;
      
    }

    .btn__cerrar{
        display: none;
    }

    .btn__sandwich{
        display: none;
    }
  
    .section__principal{
      flex-direction: row;
    }
    .portada, .presentation{
      flex: 0 0 50%;
    }
  
    /*main services*/
    .cards{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    
  
    .card__img{
      width: 300px;
    }
  
    .card__proyect{
      width: 350px;
    }
    .img__proyect{
      width: 300px;
    }
    

    /*main contact*/
    .text-formulario{
        font-size: 30px;
    }
    .labels{
        font-size: 25px;
    }
    .entrada{
        padding: 20px;
        width: 100%;
        border: 1px solid gray;
        box-shadow: none;
    }

    .btn-enviar{
        margin-top: 20px;
        padding: 20px 40px;
        background-color: #0B402E;
        border-radius: 15px;
        border:none;
        font-size: 25px;
    }

  }

/*Footer section*/
.footer{
    background-color: #ffb703;
}
.container-footer{
    color: #111;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
    background-color: #ffb703;
    gap: 20px;
    padding: 20px 30px;
    width: min(1200px, 100%);
    margin: 0 auto;
}



.container-footer p{
    order: 3;
}



/*footer*/
/*Redes sociales*/
.social-media{
    font-size: 30px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    color: #71ee4f;
    
    
}
.social-media i{
    cursor: pointer;
}


.derechos{
    background-color: #ffb703;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}


@media (min-width: 768px) {
    .social-media{
        font-size: 50px;
        gap: 30px;
        justify-content: center;
    }

    .container-footer{
        justify-content: space-between;
    }

    .container-footer h2{
        order: 1;
    }
    
    .container-footer p{
        order: 2;
    }
    
    .social-media{
        order: 3;
    }
}