html{
    font-size: 16px;
    line-height: 1.50;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    background-color: #222;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

h1, h2, h3, h4, p{
    margin: 0;
    /*background-color: #222;*/
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
}



/*--The Header--*/
.container{
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(39, 192, 39);
    /*border: 1px solid red;*/
    position: -webkit-sticky;
}

.menu{
    display: none;
}

.portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    background-color: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/*Main*/
/*Home section*/
.main-container{
    padding: 50px 30px;
    border: 2px solid red;
    
}

.section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 1024px;
}

.main-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.main-text{
    text-align: center;
    font-size: 1.2rem;
}

.img{
    width: 70%;
    box-shadow: 5px 5px 20px #ffffff;
    margin-top: 70px;
}

/*About section*/
.cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titile-logo{
    text-align: center;
    padding: 20px 0px;
    color: ;
}
.logo-about{
    width: 50%;
    box-shadow: 5px 5px 20px #ffffff;
}

/*Services section*/
.img-dev{
    width: 50%;
    background-color: #ffffff;
}

.img-proyect{
    width: 80%;
}

.text-card{
    font-size: 1.2rem;
    text-align: center;
}

/*Formulario*/
.formulario{
    background-color: #24C603;
    color: #2A0202;
    max-width: 768px;
    display: flex;
    border: 1px solid yellow;
    flex-direction: column;
    gap: 15px;
}
.titile-formulario{
    color: #2A0202;
    font-size: 2rem;
}

.text-formulario{
    color: #2A0202;
    padding: 10px 2px;
}

.labels, .entrada{
    display: block;
    height: 30px;

}

.btn-enviar{
    background-color: aqua;
    color: #222;
    border-radius: 2px solid red;
    height: 45px;
    width: 70px;
}

/*Redes sociales*/
.social-media{
    font-size: 50px;
}

/*footer*/
.derechos{
    text-align: center;
}
/*Reponsive Disign*/
@media (min-width: 768px) {
    .header{
        display: flex;
        padding-left: 10px 30px;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(39, 192, 39);
        /*border: 1px solid red;*/
    }

    .menu{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }


    .menu-list{
        list-style-type: none;
        font-size: 1.2rem;
    }
    
    .menu-link{
        text-decoration: none;
        color: #ffffff;
    }
    .btn{
        display: none;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .img{
        width: 50%;
        box-shadow: 5px 5px 20px #ffffff;
        margin-top: 20px;
    }

    .portada{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}



@media (min-width: 1024px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(39, 192, 39);
        /*border: 1px solid red;*/
        padding: 10px 50px;
    }

    .menu{
        display: flex;
        justify-content: flex-end;
        gap: 3%;
        width: 100%;
    }


    .menu-list{
        list-style-type: none;
        font-size: 1.2rem;
    }
    
    .menu-link{
        text-decoration: none;
        color: #ffffff;
    }

    .btn{
        display: none;
        
    }

    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portada{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .main-title{
        margin-left: 60%;
    }
}